@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: 'VT323', monospace;
  background-color: #f0f0f0;
  color: #333;
}




iframe {
  border: 2px inset #d3d3d3;
}

